---
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: gw
spec:
  servers:
    - port:
        number: 80
        name: a
        protocol: HTTP
      hosts:
        - www.bookinfo.com
---
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: gw2
spec:
  servers:
    - hosts:
        - "*"
      port:
        name: c
        number: 10090
        protocol: HTTP
---
apiVersion: networking.istio.io/v1alpha3
kind: ServiceEntry
metadata:
  name: se
spec:
  hosts:
    - www.bookinfo.com
  ports:
    - number: 10090
      name: http
      protocol: HTTP
  resolution: DNS
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: bookinfo
spec:
  hosts:
    - 'www.bookinfo.com'
  http:
    - match:
        - uri:
            prefix: /productpage
      route:
        - destination:
            host: productpage.default.svc.cluster.local
    - match:
        - uri:
            prefix: /ratings
      route:
        - destination:
            host: ratings.default.svc.cluster.local
---
apiVersion: v1
kind: Service
metadata:
  name: productpage
spec:
  selector:
    app: productpage
  ports:
    - port: 10090
      targetPort: 9080
---
apiVersion: v1
kind: Service
metadata:
  name: ratings
spec:
  selector:
    app: ratings
  ports:
    - port: 80
      targetPort: 9080
---
apiVersion: v1
kind: Pod
metadata:
  name: productpage-pod
  labels:
    app: productpage
spec:
  containers:
    - name: receiver
      image: localhost:15000/receiver
      imagePullPolicy: Always
      args:
        - "receiver.py"
        - "/app/config/productpage-pod-recv.json"
      volumeMounts:
        - mountPath: /app/config
          name: config
  volumes:
    - name: config
      hostPath:
        path: /app/config
---
apiVersion: v1
kind: Pod
metadata:
  name: ratings-pod
  labels:
    app: ratings
spec:
  containers:
    - name: receiver
      image: localhost:15000/receiver
      imagePullPolicy: Always
      args:
        - "receiver.py"
        - "/app/config/ratings-pod-recv.json"
      volumeMounts:
        - mountPath: /app/config
          name: config
  volumes:
    - name: config
      hostPath:
        path: /app/config